@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@500&display=swap');
@import url('/fonts/fontawesome/css/all.css');
/* || RESET */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;                 /*removes space below images*/
  max-width: 100%;                /*responsive image*/
  height: auto;                   /*responsive image*/
}

input,
button,
textarea {
  font: inherit;                  /*They don't inherit font properties if we don't do this!*/
}

/* || VARIABLES */

:root {
  --BACKGROUND-COLOR-BASE: #FFF;
  --BACKGROUND-COLOR-MENU-HOVER: dimgrey;
  --BACKGROUND-COLOR-MENU-SELECTED: darkgrey;
  --BACKGROUND-COLOR-MENU: transparent;
  --BACKGROUND-COLOR-GRADIENT1: aliceblue;
  --BACKGROUND-COLOR-GRADIENT2: papayawhip;
  --FONT-FAMILY-BASE: "Poppins", system-ui, sans-serif;
  --FONT-FAMILY-HEADINGS: "Nunito", system-ui, sans-serif;
  --FONT-SIZE-BASE: clamp(1rem, 2.2vh ,1.5rem);
  --FONT-COLOR-BASE: #000;
  --FONT-COLOR-HEADINGS: midnightblue;
  --LINK-COLOR-BASE: #000;
  --LINK-COLOR-HOVER: blue;
  --LINK-COLOR-ACTIVE: aqua;
  --BORDER-RADIUS-BASE: 15px;
  --BORDER-COLOR-BASE: #000;

  --MARGIN-TB-BASE: clamp(1em, 2.5vh, 1.5em);

  --SIZE-CELLS-INTERVAL-BASE: 10px;
  --SIZE-CONTAINER-WIDTH-RESUME-FOTO: 300px;
  --SIZE-HEADER-HEIGHT: 100px;
  --SIZE-SOCIALS-HEIGHT: 20px;
  --SIZE-MAX-WIDTH-XL: 1440px;
  --HEIGHT-BODY: calc(100vh - var(--PADDING-TB-BASE) * 2);
  --PADDING-SIDE-BASE: 2.5%;
  --PADDING-SIDE-NAV: 5%;
  --PADDING-TB-BASE: 0.25em;
  --PADDING-TB-SECTION: 1em;
  --PADDING-TB-BODY: 15px;
  --CARD-BACKGROUND-COLOR-BASE: rgb(128, 216, 207);
  --CARD-MARGIN-TB-BASE: 2em;
  --CARD-MARGIN-LR-BASE: 2.5%;
  --CARD-MARGIN-BOTTOM-BASE: 4em;
  --CARD-MARGIN-LEFT-BASE: 3em;
  --CARD-PADDING: 2em;
  --CARD-ARROW-HEIGHT: calc(var(--CARD-ARROW-WIDTH) / 2);
  --CARD-ARROW-WIDTH: calc(var(--CARD-MARGIN-LEFT-BASE) - var(--TIMELINE-MARKER-SIZE) / 2);
  --CARD-BOX-FONT-COLOR: grey;
  --CARD-BOX-BACKGROUND-COLOR: orange;
  --CARD-DATES-FONT-COLOR: grey;
  --CARD-DATES-BACKGROUND-COLOR: midnightblue;
  --TIMELINE-WIDTH: 6px;
  --TIMELINE-BACKGROUND-COLOR: #000;
  --TIMELINE-MARKER-SIZE: 1.5em;
  --TIMELINE-MARKER-BACKGROUND-COLOR: #555;
  --TIMELINE-BORDER: 3px solid papayawhip;
  --BUTTON-COLOR: rgb(128, 216, 207);
  --BUTTON-PADDING: 0.5em 1em;
  --BUTTON-BACKGROUND-COLOR-HOVER: midnightblue;

  


  --BORDER-TEST: 1px solid red;
}

/* || UTILITY CLASSES */
.center {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.offscreen {
  position: absolute;
  left: -1000000px;
}

.menu_item_selected {
  background-color: var(--BACKGROUND-COLOR-MENU-SELECTED);
  position: relative;
  z-index: 0;
}

.align_right {
  text-align: right;
}

/* || GENERAL STYLES */
html {
  font-family: var(--FONT-FAMILY-BASE);
  font-size: var(--FONT-FAMILY-BASE);
  height: 100%;
  background: rgb(250,240,230);
  background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}

body {
  color: var(--FONT-COLOR-BASE);
  height: 100%;
  max-width: var(--SIZE-MAX-WIDTH-XL);
  margin: 0 auto;
  display: grid;
  grid-template-columns:
    [resume-photo-start] var(--SIZE-CONTAINER-WIDTH-RESUME-FOTO)
    [resume-photo-end] var(--SIZE-CELLS-INTERVAL-BASE)
    [main-col-start] auto
    [main-col-end];
  grid-template-rows:
    [header-start] auto
    [footer-end];
}

article {
  padding: var(--PADDING-TB-SECTION) var(--PADDING-SIDE-BASE);
}

section {
  padding: var(--PADDING-TB-SECTION) var(--PADDING-SIDE-BASE);
}

h1,
h2,
h3 {
  font-family: var(--FONT-FAMILY-HEADINGS);
  letter-spacing: 0.05em;
  padding-bottom: var(--PADDING-TB-SECTION);
  color: var(--FONT-COLOR-HEADINGS);
}

h1 {
  padding: 0 0 0 var(--PADDING-SIDE-BASE);
  font-size: clamp(2rem, 5vh, 2.5rem);
  color: aliceblue;
  text-shadow: 2px 2px 5px #000;
  white-space: nowrap;
  position: absolute;
  top: calc(var(--SIZE-HEADER-HEIGHT) / 2);
  transform: translateY(-50%);
}

p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  word-spacing: 0.1em;
  white-space: initial;
}

a:any-link {
  color: var(--LINK-COLOR-BASE);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--LINK-COLOR-HOVER);
  text-decoration: underline;
}

a:active {
  color: var(--LINK-COLOR-ACTIVE);
}

button {
  cursor: pointer;
}

/* || RESUME */
.resume {
  border: none;

  position: sticky;
  top: 0;

  grid-column-start: resume-photo-start;
  grid-row-start: header-start;
  grid-row-end: footer-end;

  z-index: 1;

  background-color: #DCD9D4;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
  background-blend-mode: soft-light,screen;
  background-size: auto 100%;
}

.resume__photo {
  margin: var(--MARGIN-TB-BASE) auto;
}

.resume__photo figcaption{
  font-size: 1.3rem;
  font-weight: 900;
  letter-spacing: 0.02em;
  padding-bottom: 0.5em;
}

.resume__photo p{
  font-size: 1rem;
  text-align: center;
}

.resume__photo img {
  border-radius: 50%;
  min-width: 100px;
  border: 5px double grey;
  margin: auto;
}

.resume__socials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  padding: 0;
}

.resume__socials__img {
  width: 40px;
  height: auto;
}

.resume__button {
  display: block;
  padding: var(--BUTTON-PADDING);
  margin: var(--MARGIN-TB-BASE) auto;
  background-color: var(--BUTTON-COLOR);
  border-radius: 50px;
  text-align: left;
  width: fit-content;
  box-shadow: 0 0 10px black;
  -webkit-box-shadow: 0 0 10px black;
  -moz-box-shadow: 0 0 10px black;
  transition: background-color 0.5s;
  transition: color 0.5s;
}

.resume__button:hover,
.resume__button:focus {
  text-decoration: none;
  background-color: var(--BUTTON-BACKGROUND-COLOR-HOVER);
  color: whitesmoke;
}

.resume__button:active {
  background-color: var(--BUTTON-BACKGROUND-COLOR-HOVER);
  text-decoration: none;
  color: whitesmoke;
}

.resume__button i {
  background-color: var(--BACKGROUND-COLOR-GRADIENT1);
  color: #000;
  margin-left: 15px;
  border-radius: 50px;
  height: 27px;
  width: 27px;
  text-align: center;
  float: right;
  line-height: 1.5em;
}

.resume__nav {
  padding: var(--PADDING-TB-BASE) 0;
  background-color: var(--BACKGROUND-COLOR-MENU);
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.resume__nav__ul {
  letter-spacing: 0.03em;
  list-style: none;
}

.resume__nav__ul li {
  position: relative;
}

.resume__nav__ul li::before  {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background-color: var(--BACKGROUND-COLOR-MENU-HOVER);
  z-index: -1;
  transition: transform 0.1s ease;
}

.resume__nav__ul li:hover::before{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.resume__nav__ul li::before{
  transform: scaleX(0);
  transform-origin: bottom right;
}

.resume__nav__ul a,
.resume__nav__ul p {
  line-height: 2;
  display: block;
  padding-left: var(--PADDING-SIDE-NAV);
}

.resume__nav__ul a:hover,
.resume__nav__ul a:focus {
  text-decoration: none;
  color: var(--FONT-COLOR-BASE);
}

.resume__nav__ul a:active {
  text-decoration: none;
  color: var(--FONT-COLOR-BASE);
}

.resume__nav__align_left {
  position: absolute;
  left: 45px;
}

.resume__nav__has_submenu {
  position: relative;
  cursor: pointer;
}

.resume__nav__has_submenu:hover .resume__nav__submenu{
  opacity: 1;
}

.resume__nav__submenu{
  list-style: none;
  position: absolute;
  left: var(--SIZE-CONTAINER-WIDTH-RESUME-FOTO);
  top: 0;
  width: max-content;
  min-width: 15em;
  background-color: var(--BACKGROUND-COLOR-MENU);
  transition: opacity 300ms;
  opacity: 0;
  z-index: 0;
}

.resume__nav__portfolio a {
  padding-left: calc(var(--PADDING-SIDE-NAV) * 2);
}

/* || MAIN AREA */
.main_area {
  grid-column-start: resume-photo-end;
  grid-column-end: main-col-end;
  overflow: auto;
  overflow-x: hidden;
}

/* || HEADER */
.header {
  background-color: var(--BACKGROUND-COLOR-BASE);
  background-image: url('../img/softwareEngineering.jpg');
  background-repeat: repeat;
  height: var(--SIZE-HEADER-HEIGHT);
  border-bottom: 2px solid #000;
  position: relative;
}

.hero {
  background-color: hsla(0, 0%, 0%, 0.616);
  height: var(--SIZE-HEADER-HEIGHT);
}

/* || FOOTER */
.footer {
  color: black;
  background-color: brown;

}

/* || MAIN */
.main {
  padding: var(--PADDING-TB-BASE) var(--PADDING-SIDE-BASE);
}

/* || SOFTWARE ENGINEERING */
.skills__ul {
  list-style-type: none;
  padding: var(--PADDING-TB-BASE) 0;
  
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em 3em;
}

.skills__li {
  background-color: midnightblue;
  color: aliceblue;
  padding: var(--PADDING-TB-BASE) var(--PADDING-SIDE-BASE);
  text-align: center;
  border-radius: var(--BORDER-RADIUS-BASE);
  box-shadow: 0 0 15px black;
}

.projects {
  padding: var(--PADDING-TB-BASE) var(--PADDING-SIDE-BASE);
}

.projects__group {
  padding: var(--PADDING-TB-SECTION) var(--PADDING-SIDE-BASE);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.project {
  position: relative;
  list-style-type: none;
  border-left: var(--TIMELINE-WIDTH) solid var(--TIMELINE-BACKGROUND-COLOR);
  width: 100%;
  background-color: transparent;
}

.project::before {
  content: '';
  position: absolute;
  left: calc(-0.5 * var(--TIMELINE-WIDTH));
  transform: translateX(-50%);
  height: var(--TIMELINE-MARKER-SIZE);
  width: var(--TIMELINE-MARKER-SIZE);
  border: var(--TIMELINE-BORDER);
  border-radius: 50%;
  background-clip: padding-box;
  background-color: var(--TIMELINE-MARKER-BACKGROUND-COLOR);
  box-shadow: 0 0 10px var(--TIMELINE-BACKGROUND-COLOR);
}

.project__card {
  width: 100%;
  background-color: var(--CARD-BACKGROUND-COLOR-BASE);
  margin-left: var(--CARD-MARGIN-LEFT-BASE);
  margin-bottom: var(--CARD-MARGIN-BOTTOM-BASE);
  position: relative;
  padding: var(--CARD-PADDING);
  border-radius: var(--BORDER-RADIUS-BASE);
}

.project__card::before {
  content: "";
  position: absolute;
  top: 0;
  transform: translate(calc(-90% - var(--CARD-PADDING)), 10%);
  border-style: solid;
  border-width: calc(var(--CARD-ARROW-WIDTH) * 0.25 ) var(--CARD-ARROW-WIDTH) calc(var(--CARD-ARROW-WIDTH) * 0.75 ) 0;
  border-color: transparent var(--CARD-BACKGROUND-COLOR-BASE) transparent transparent;
  padding: 1px 0;
}

.project__card__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: var(--CARD-MARGIN-TB-BASE);
}

.project__card__header p {
  background-color: var(--CARD-DATES-BACKGROUND-COLOR);
  color: var(--CARD-DATES-FONT-COLOR);
  border-radius: var(--BORDER-RADIUS-BASE);
  align-self: flex-start;
  padding: var(--PADDING-TB-BASE) var(--PADDING-SIDE-BASE);
  font-weight: 700;
  box-shadow: 0 0 10px black;
}

.project__card__button {
  border-radius: 0;
  background-color: transparent;
  border: none;
  display: flex;
}

.project__card__button__logo img{
  width: 40px;
  height: 40px;
  margin-right: 1em;
}

.project__card__button__text {
  align-self: center;
  font-weight: bold;
  font-size: medium;
}

.project__technologies {
  margin-top: var(--CARD-MARGIN-TB-BASE);
}

.project__technologies__ul {
  padding-top: var(--PADDING-TB-SECTION);
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 1em;
  column-gap: 5%;
}

.project__technologies__ul li {
  border-radius: var(--BORDER-RADIUS-BASE);
  background-color: var(--CARD-BOX-BACKGROUND-COLOR);
  padding: var(--PADDING-TB-BASE) var(--PADDING-SIDE-BASE);
  box-shadow: 0 0 10px black;
}