@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@500&display=swap');
/* || RESET */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */

:root {
  --BACKGROUND-COLOR-BASE: #FFF;
  --FONT-FAMILY-BASE: "Poppins", system-ui, sans-serif;
  --FONT-FAMILY-HEADINGS: "Nunito", system-ui, sans-serif;
  --FONT-SIZE-BASE: clamp(1rem, 2.2vh ,1.5rem);

  --MARGIN-TB-BASE: clamp(1em, 2.5vh, 1.5em);

  --SIZE-CELLS-INTERVAL-BASE: 10px;
  --SIZE-CONTAINER-WIDTH-RESUME-FOTO: 300px;
  --SIZE-HEADER-HEIGHT: 50px;
  --SIZE-SOCIALS-HEIGHT: 20px;
  --SIZE-MAX-WIDTH-XL: 1440px;
  


  --BORDER-TEST: 1px solid red;
}

/* || UTILITY CLASSES */
.center {
  text-align: center;
}

/* || GENERAL STYLES */
html {
  font-family: var(--FONT-FAMILY-BASE);
  font-size: var(--FONT-FAMILY-BASE);
  color: #000;
  background-color: black;
}

body {
  background-color: var(--BACKGROUND-COLOR-BASE);
  min-height: calc(100vh - var(--MARGIN-TB-BASE) * 2);
  max-width: var(--SIZE-MAX-WIDTH-XL);
  margin: var(--MARGIN-TB-BASE) auto;
  display: grid;
  grid-template-columns:
    [resume-photo-start] var(--SIZE-CONTAINER-WIDTH-RESUME-FOTO)
    var(--SIZE-CELLS-INTERVAL-BASE)
    [main-col-start] auto
    var(--SIZE-CELLS-INTERVAL-BASE)
    [menu-start] 50px
    [menu-end];
  grid-template-rows:
    [header-start] var(--SIZE-HEADER-HEIGHT)
    var(--SIZE-CELLS-INTERVAL-BASE)
    [main-row-start] auto
    var(--SIZE-CELLS-INTERVAL-BASE)
    [footer-start] 20px
    [footer-end];
}

/* || HEADER */
.header {
  border: var(--BORDER-TEST);

  grid-column-start: main-col-start;
  grid-column-end: menu-end;
  grid-row-start: header-start;
}

/* || RESUME */
.resume {
  border: var(--BORDER-TEST);
  background-color: lightgoldenrodyellow;

  grid-column-start: resume-photo-start;
  grid-row-start: header-start;
  grid-row-end: footer-end;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 300px 1fr 1fr 1fr 50px;
}

.resume__photo {
  margin: var(--MARGIN-TB-BASE);
}

.resume__photo img {
  border-radius: 50%;
}


/* || FOOTER */
.footer {
  color: black;
  background-color: brown;

  grid-column-start: main-col-start;
  grid-column-end: menu-end;
  grid-row-start: footer-start;
}

/* || MAIN */
.main {
  grid-column: main-col-start;
  grid-row: main-row-start;
}